
testing_datasets/doi_10.5061_dryad.b554m44__v1/FootLandmarks.BB.SpeciesSummary.tps
testing_datasets/allometry_test-Antigoni.tps
testing_datasets/doi_10.5061_dryad.b554m44__v1/AllSpecimens.xlsx
testing_datasets/doi_10.5061_dryad.b554m44__v1/Bonett_and_Blair_Phylo.tre
testing_datasets/doi_10.5061_dryad.b554m44__v1/FootLandmarks.SpeciesSummary.Csize.csv
testing_datasets/doi_10.5061_dryad.b554m44__v1/LinMeas.SpeciesSummaries.csv
testing_datasets/doi_10.5061_dryad.b554m44__v1/MainAnalyses.R
testing_datasets/doi_10.5061_dryad.b554m44__v1/Microhabitats.csv
testing_datasets/pone.0025630.s005.nts
testing_datasets/Sample_data_rand/foot.tps
testing_datasets/Sample_data_rand/trait_mat.csv
testing_datasets/Sample_data_rand/trait_mat2.csv
testing_datasets/Sample_data_rand/tree.tre
testing_datasets/slidermat.csv
testing_datasets/Stereomorph/.DS_Store
testing_datasets/Stereomorph/example.curves.4_curves.txt
testing_datasets/Stereomorph/example.curves.ekb.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37712-H.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37713-H.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37714-H.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37715-H.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37717-H.txt
testing_datasets/Stereomorph/output-4_curves/LSUMZ-37718-H.txt
testing_datasets/Stereomorph/output-no_curves/.DS_Store
testing_datasets/Stereomorph/output-no_curves/.Rhistory
testing_datasets/Stereomorph/output-no_curves/KU-66178-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-66179-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-66183-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-66184-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-66186-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-74137-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-76181-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-76183-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-7681-H.txt
testing_datasets/Stereomorph/output-no_curves/KU-86620-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37712-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37713-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37714-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37715-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37717-H.txt
testing_datasets/Stereomorph/output-no_curves/LSUMZ-37718-H.txt
testing_datasets/Stereomorph/output/KU-66178-H.txt
testing_datasets/Stereomorph/output/KU-66179-H.txt
testing_datasets/Stereomorph/output/KU-66183-H.txt
testing_datasets/Stereomorph/output/KU-66184-H.txt
testing_datasets/Stereomorph/output/KU-66186-H.txt
testing_datasets/Stereomorph/output/KU-74137-H.txt
testing_datasets/Stereomorph/output/KU-76181-H.txt
testing_datasets/Stereomorph/output/KU-76183-H.txt
testing_datasets/Stereomorph/output/KU-7681-H.txt
testing_datasets/Stereomorph/output/KU-86620-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37712-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37713-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37714-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37715-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37717-H.txt
testing_datasets/Stereomorph/output/LSUMZ-37718-H.txt
testing_datasets/Stereomorph/pics-4_curves/.DS_Store
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37712-H.JPG
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37713-H.JPG
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37714-H.JPG
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37715-H.JPG
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37717-H.JPG
testing_datasets/Stereomorph/pics-4_curves/LSUMZ-37718-H.JPG
testing_datasets/Stereomorph/pics-no_curves/.DS_Store
testing_datasets/Stereomorph/pics-no_curves/KU-66178-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-66179-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-66183-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-66184-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-66186-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-74137-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-76181-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-76183-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-7681-H.JPG
testing_datasets/Stereomorph/pics-no_curves/KU-86620-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37712-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37713-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37714-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37715-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37717-H.JPG
testing_datasets/Stereomorph/pics-no_curves/LSUMZ-37718-H.JPG
testing_datasets/Stereomorph/pics/.DS_Store
testing_datasets/Stereomorph/pics/KU-66178-H.JPG
testing_datasets/Stereomorph/pics/KU-66179-H.JPG
testing_datasets/Stereomorph/pics/KU-66183-H.JPG
testing_datasets/Stereomorph/pics/KU-66184-H.JPG
testing_datasets/Stereomorph/pics/KU-66186-H.JPG
testing_datasets/Stereomorph/pics/KU-74137-H.JPG
testing_datasets/Stereomorph/pics/KU-76181-H.JPG
testing_datasets/Stereomorph/pics/KU-76183-H.JPG
testing_datasets/Stereomorph/pics/KU-7681-H.JPG
testing_datasets/Stereomorph/pics/KU-86620-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37712-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37713-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37714-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37715-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37717-H.JPG
testing_datasets/Stereomorph/pics/LSUMZ-37718-H.JPG
testing_datasets/Stereomorph/script.R
testing_datasets/Symmetry_tab/liz.lmside.csv
testing_datasets/Symmetry_tab/liz.spec.csv
testing_datasets/Symmetry_tab/liz.tps
testing_datasets/Symmetry_tab/liz_sym.tps
testing_datasets/Symmetry_tab/mosq.csv
testing_datasets/Symmetry_tab/mosq.tps
testing_datasets/Symmetry_tab/obj_sym_land_pairs-error.csv
testing_datasets/Symmetry_tab/obj_sym_land_pairs-error2.csv
testing_datasets/Symmetry_tab/obj_sym_land_pairs-error3.csv
testing_datasets/Symmetry_tab/obj_sym_land_pairs.csv
testing_datasets/Symmetry_tab/sym_matching.csv
testing_datasets/Symmetry_tab/sym_obj.csv
testing_datasets/Trajectory_tab/land.tps
testing_datasets/Trajectory_tab/land_vig.tps
testing_datasets/Trajectory_tab/script.R
testing_datasets/Trajectory_tab/trait.csv
testing_datasets/Trajectory_tab/vig_sliders.csv
testing_datasets/Trajectory_tab/vig_trait.csv
